html, body {
			height: 100%;
			margin: 0;
		}

		.select{
			width: 50%;
			padding: 5px;
			margin-bottom:10px;
		}
		#bar{
			height: 10%;
		}

		#map {
			width: 100%;
			height: 100%;
		}
		.box {
			width: 200px;
		    padding: 6px 8px;
		    font: 14px/16px Arial, Helvetica, sans-serif;
		    background: rgba(255,255,255,0.8);
		    box-shadow: 0 0 15px rgba(0,0,0,0.2);
		    border-radius: 5px;
		}
		.box-right{
			*background-color: yellow;
			float: left;
			margin-left: 12px;
		}
		.box-left{
			width: 180px;
			*background-color: blue;
			float: left;
		}
		.info {
		    padding: 10px;
		    font: 14px/16px Arial, Helvetica, sans-serif;
		    background: rgba(255,255,255,0.8);
		    box-shadow: 0 0 15px rgba(0,0,0,0.2);
		    border-radius: 5px;
		    max-height: 300px;
		}
		.info1 {
		    padding: 6px 8px;
		    font: 14px/16px Arial, Helvetica, sans-serif;
		    background: white;
		    background: rgba(255,255,255,0.8);
		    box-shadow: 0 0 15px rgba(0,0,0,0.2);
		    border-radius: 5px;
		}
		.info h4 {
		    margin: 0 0 5px;
		    color: #777;
		}

		.legend {
		    line-height: 18px;
		    color: #555;
		    *background-color: red;
		}
		.legend i {
		    width: 17px;
		    height: 17px;
		    float: left;
		    margin-right:10px;
		    opacity: 0.7;
		}
		.box-data{
			width: 100%;
			min-width: 200px;
			*padding:2px;
			height: 75px;
			margin-bottom: 20px;
			border-top:1px solid #dedede;
			border-bottom:1px solid #dedede;
			text-align: center;
		}
		.numbs{
			width: 50%;
			padding: 10px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
			text-align: center;
			float: left;
		}
		.resource{
			padding-top:9px;
			font-size: 8pt;
			background-color: green;
		}
		.confirmed{

		}
		.obts{

		}
		#copyData{
			font-size: 8pt;
		}
		.name_mun{
			margin-top: 10px;
			font-style: bold;
			*background-color: yellow;
		}

div#boletim{}

div#container{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	background-color: #eee;
	display: block;
}
div#loader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color:rgba(255, 255, 255, 0.5);
	z-index: 10000;
	text-align: center;
}

div#txtLoading{
	position:relative;
	padding: 5px;
	top:47%;
	left:45.5%;
	background-color:#ffffff;
	background-image: url('../img/load.gif');
	background-size: 30px 30px;
	background-position: 1px 2px;
	background-repeat: no-repeat;
	width: 125px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
	text-align: right;
}

div#closeBtn{
	width: 40px;
	height: 40px;
	*background-color: red;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#card{
	overflow-y: auto;
	max-height: 200px;
	width: 283px;
	background-color: red;
}
#card .tableContent{
	width: 100%;
	height: 100%;
	background-color: green;
}
.fechar{
	float: right;
	width: 30px;
	height: 30px;
	*background-color: green;
	background-image: url('../img/icons/up-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
	-webkit-border-radius:  100%;
	-moz-border-radius:  100%;
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid #dedede;
	color: transparent;
}
#tableTop{
	*background-color: orange;
	width: 283px;
	height: 30px;
}
#tableTitle{
	background-color: yellow;
	float: left;
	width: 88%;
	height: 30px;
}

div#listMuni{}